In [17]:
import pandas as pd
import os

In [18]:
path = './names'
files = os.listdir(path)
txt_files = tuple(filter(lambda x: x.startswith('yob') and x.endswith('.txt'), files))
dfs_list = []

for filename in txt_files:
    df = pd.read_csv(os.path.join(path, filename), names=['Name', 'Gender', 'Amount'])
    df['Year'] = filename[3:7]
    dfs_list.append(df)

df = pd.concat(dfs_list)

In [19]:
def count_top3(years):
    years = [str(year) for year in years]
    top3 = df[df['Year'].isin(years)].groupby('Name').sum().nlargest(3, ['Amount']).index.tolist()
    return top3

In [20]:
print(count_top3([1880]))
print(count_top3([1900, 1950, 2000]))

['John', 'William', 'Mary']
['James', 'John', 'Robert']